[submodule "packages/pyoomysql"]
	path = packages/pyoomysql
	url = https://github.com/Silvarion/pyoomysql.git

[submodule "packages/pyoocouchdb"]
	path = packages/pyoocouchdb
	url = https://github.com/Silvarion/pyoocouchdb.git

[submodule "packages/pyoocass"]
	path = packages/pyoocass
	url = https://github.com/Silvarion/pyoocass.git
